h2 {
    border-color: blue;
    border-style: solid;
}

.spdiv div {
    margin-bottom: 5px;
    margin-top: 5px;
}

.important h1 {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    flex-grow: 1;
    height: 50px;
    border: dashed 1px;
}

.sans {
    font-family: "Open Sans", sans-serif;
}
